p {
  line-height: 150%;
}

.blog-title-div {
  text-align: center;
}

.blog-title-div h1 {
  font-size: 2rem;
  margin: 0.625rem;
  padding: 0;
}

.author-date-span {
  font-style: italic;
  font-size: 0.625rem;
  font-weight: lighter;
  margin: 0;
}

#share-buttons .facebook {
  color: #3b5998;
}
#share-buttons .twitter {
  color: #55acee;
}
#share-buttons .linkedin {
  color: #0077b5;
}
#share-buttons .reddit {
  color: #cb2027;
}
#share-buttons .whatsapp {
  color: #25d366;
}
#share-buttons .telegram {
  color: #229ed9;
}
#share-buttons .facebook,
#share-buttons .twitter,
#share-buttons .linkedin,
#share-buttons .reddit,
#share-buttons .whatsapp,
#share-buttons .telegram {
  opacity: 0.4;
}
#share-buttons .facebook:hover,
#share-buttons .twitter:hover,
#share-buttons .linkedin:hover,
#share-buttons .reddit:hover,
#share-buttons .whatsapp:hover,
#share-buttons .telegram:hover {
  opacity: 0.9;
}

#share-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: fit-content;
  padding: 1rem 0 0 0;
  margin: auto;
  font-size: 1.25rem;
  position: relative;
}

#share-buttons a {
  position: relative;
  padding-left: 0.625rem;
  width: 1.9rem;
}

#share-buttons a::before {
  content: "";
  position: absolute;
  border-left: solid;
  width: 0.625rem;
  height: 1.25rem;
  left: 0;
}

li {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  p {
    text-align: start;
  }
  li {
    text-align: start;
  }
}
