.blog-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-section-div {
  min-width: 12.8rem;
  position: relative;
}

.blog-list-div img {
  width: 100%;
  height: auto;
}

.blog-section-div p {
  text-align: start;
  margin: 0 0 0.3rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.blog-section-div a {
  text-underline-position: under;
  text-decoration-thickness: 0.1rem;
  color: black;
  text-decoration: underline;
}

.blog-section-div span {
  font-style: italic;
  font-size: 1rem;
}

.blog-section-caption-div {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 0.5rem;
  width: fit-content;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .blog-list-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .blog-list-div {
    grid-template-columns: 1fr;
  }
}
