*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  scroll-padding-top: 3rem;
}

.foobar-task-description {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  background-color: #111111;
  color: #fff;
  padding: 1.6rem;
  margin: 2rem 0;
  overflow-x: auto;
}

.table-of-contents {
  position: sticky;
  background-color: rgb(32, 33, 36);
  border-bottom: solid 1px #444;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  display: flex;
}

.toc-layer1 {
  top: 0;
  height: 3rem;
  z-index: 5;
}

.toc-layer2 {
  top: 3rem;
  height: 3rem;
  z-index: 4;
}

.table-of-contents a {
  color: rgb(137, 156, 212);
  text-align: center;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0.1rem;
  width: 100%;
  max-width: 12rem;
}

.table-of-contents a:hover {
  background-color: #ddd;
  color: rgb(35, 39, 51);
}

pre {
  overflow: hidden;
  min-height: 10rem;
  height: 10rem;
  position: relative;
  color: #d1d1d1;
  background: black;
  padding: 1.6rem;
}

.no-before {
  overflow: auto;
  height: auto;
}

pre::before {
  content: "---Click to reveal code---";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 4rem;
}

.no-before::before {
  display: none;
}

p {
  overflow-x: auto;
  overflow-y: visible;
}

.tikz-diagram {
  display: flex;
  margin: auto;
  filter: invert();
  max-width: 40rem;
  min-width: 27rem;
  width: 100%;
}

.grid-table {
  margin: 0 auto;
}

.grid-table td {
  text-align: center;
  vertical-align: middle;
  width: 2rem;
}
.grid-table a {
  color: inherit;
}
.grid-table .s6 {
  border-bottom: 0.1rem solid white;
  background-color: #ff9900;
}
.grid-table .s12 {
  font-weight: bold;
}
.grid-table .s10 {
  border-right: 0.1rem solid white;
  background-color: #00ff00;
}

.grid-table .s14 {
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
  background-color: #ff9900;
}
.grid-table .s7 {
  background-color: #00ff00;
}
.grid-table .s1 {
  border-right: 0.1rem solid white;
}
.grid-table .s9 {
  background-color: #ff9900;
}
.grid-table .s8 {
  border-right: 0.1rem solid white;
  background-color: #ff0000;
}
.grid-table .s4 {
  background-color: #ff0000;
}
.grid-table .s3 {
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
}
.grid-table .s13 {
  border-bottom: 0.1rem solid white;
  background-color: #ff9900;
}
.grid-table .s2 {
  border-bottom: 0.1rem solid white;
}
.grid-table .s11 {
  background-color: #ff9900;
}
.grid-table .s5 {
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
  background-color: #ff9900;
}
.grid-table tr {
  height: 2rem;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  max-width: 50rem;
  margin: 0.5rem auto;
  text-align: justify;
  font-style: italic;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .table-of-contents a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .table-of-contents a {
    font-size: 0;
  }
  #a-challenge1:after {
    content: "1";
    font-size: 1.6rem;
  }
  #a-challenge2:after {
    content: "2";
    font-size: 1.6rem;
  }
  #a-challenge3:after {
    content: "3";
    font-size: 1.6rem;
  }
  #a-challenge4:after {
    content: "4";
    font-size: 1.6rem;
  }
  #a-challenge5:after {
    content: "5";
    font-size: 1.6rem;
  }
  #a-bonus:after {
    content: "B";
    font-size: 1.6rem;
  }
}
