.sudoku-game {
  margin: 0 auto;
  width: fit-content;
  border: 0.1rem solid white;
  padding: 2rem;
}

.sudoku-grid {
  width: 32rem;
  height: 32rem;
  font-size: 3rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  border: 0.25rem solid white;
}

.sudoku-grid * {
  margin: 0;
  padding: 0;
}

.sudoku-cell {
  border: 0.05rem solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-b {
  border-bottom: 0.25rem solid white;
}

.col-r {
  border-right: 0.25rem solid white;
}
