@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Boiler plate from
https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
  background-color: rgb(32, 33, 36);
  color: #e8eaed;
  max-width: 100rem;
  margin: auto;
}

main {
  padding: 0 1rem;
  max-width: 100rem;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0.5em;
}

article ol,
article ul {
  list-style-position: outside;
  margin-left: 1em;
}
li:not(:last-child) {
  margin-bottom: 0.5em;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 0.1rem;
  /* color: rgb(124, 212, 179); */
  color: rgb(76, 192, 212);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

p {
  text-align: justify;
  overflow-y: hidden;
}

.active-link {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

article ol,
article ul {
  list-style-position: outside;
  margin-left: 1em;
}
li:not(:last-child) {
  margin-bottom: 0.5em;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 0.1rem;
  /* color: rgb(124, 212, 179); */
  color: rgb(76, 192, 212);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

p {
  text-align: justify;
  overflow-y: hidden;
}
