/*
Boiler plate from
https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
  background-color: rgb(32, 33, 36);
  color: #e8eaed;
  margin: auto;
  max-width: 100rem;
}

main {
  padding: 0 1rem;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

p {
  text-align: justify;
}

header nav {
  display: flex;
  height: 6rem;
  padding: 0 1rem;
  align-items: center;
  overflow: hidden;
}

header nav div {
  margin-right: auto;
  height: 1.6rem;
  display: flex;
  align-items: center;
}

header nav div img {
  height: 100%;
  margin-right: 1rem;
}

header nav a {
  color: white;
  margin: 0 0 0 1rem;
  text-decoration: none;
  word-wrap: normal;
}

.icon-link {
  height: 1.6rem;
}

header nav a img {
  height: 1.6rem;
}

header nav a:hover {
  color: rgb(137, 156, 212);
  text-decoration: none;
}

.current-page {
  text-decoration: underline;
}

.current-page:hover {
  text-decoration: underline;
}

.icon-container {
  display: flex;
  margin: 0 0 0 1rem;
  padding: 0 0 0 0;
  flex-wrap: wrap;
  /* border-left: solid 0.1rem white; */
  height: fit-content;
  min-width: 3rem;
}

.icon-container a {
  margin: 0.2rem 0.4rem 0.2rem 0;
  padding: 0;
}

.icon-container img {
  margin: 0;
  padding: 0;
}

#github-icon {
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 400px) {
  #navbar-icon {
    display: none;
  }
}
